.completed {
	color: #d9d9d9;
	text-decoration: line-through;
}


.icon{display: inline-block;}
.icon,
.icon + span{vertical-align: middle;}

.icon.facebook{
  background: url(../img/icon-facebook.png) no-repeat 0 0;
  height: 29px;
  width: 38px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}


body{
	background-color: #B80000;
	color: white;
	padding-top: 130px;
}

.blackTextButton{
	color: black;
}

.list-group-item{
	background: #db9773;
}

.list-group-item[ng-show="todo.hidden"]{
	background-color:  yellow;
}

.pinnedpost{
	background-color: #52CC29;
}

.highlightpost{
	background-color: #66c1ff;
}

.hiddenpost {
	color: #989898;
	background-color: #FFFF9D;
}

/* New top-part design */
.top-part {
	text-align: center;
}

.input-group {
	margin: 10px auto 10px auto;
	width: 80%;
}

.input-group > textarea {
	min-width: 150px;
	max-height: 500px;
	resize: vertical;
	font-size: 20px;
}

.list-group{
	margin: 20px auto 20px auto;
	max-width: 80%;
}

.input-group > .group-btn > .btn-info {
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 15px;
}

.FB-btn {
	margin-top: 9px;
	margin-left: 15px;
}

.modal-dialog{
	width: 90%;
}
.modal-content{
	overflow: auto;
	background: #db9773;
	text-align: center;
}
.modal-body {
	height: 600px;
	overflow: auto;
	background-color: #B80000;
}
.modal-body > p {
	font-size: 24px;
}
.modal-body > p > .desc{
	font-size: 52px;
	}
.modal-body > .CVbuttons{
	font-size: 32px;
	}
.modal-header{
	height: 184px;
	overflow:auto;
}
.modal-header > h1{
	font-size: 72px;
	text-align: center;
}

.modal-header > h1 > .badge{
	font-size: 72px;
	text-align: left;
}

nav {
	font-size: 15px;
}
