<!doctype html>
<html lang="en" ng-app="todomvc" scroll data-framework="firebase" ng-controller="TodoCtrl">
<head>
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- http://stackoverflow.com/questions/1341089/using-meta-tags-to-turn-off-caching-in-all-browsers -->
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="pragma" content="no-cache" />

	<title>Question Room: {{roomId}}</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- need this for comlted ones. TODO: can I do this in bootstrap -->
	<link rel="stylesheet" href="css/{{ css }}.css">

</head>
<body>
<div class="top-part"> <!-- New Design of top-part -->
	<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-items" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="index.html" class="navbar-brand navbar-left" style="font-size:17px; color:#3e6487; font-weight:bold; margin-left:10px"> Ques?ion </a>
				</div>

				<div class="collapse navbar-collapse navbar-right" id="navbar-collapse-items"> &nbsp;
					<ul class="nav navbar-nav">
						<li id="classview" class="dropdown">
							<a href="" class="dropdown-toggle" role="button" id="dropdownclassview" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								<strong>Classroom Mode: </strong>Off<span class="caret" style="margin-left:7px"></span>
							</a>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a href="" ng-click="classRoomMode(true)">On</a></li>
								<li><a href="" ng-click="classRoomMode(false)">Off</a></li>
							</ul>
						</li>

						<li id="menu-0" class="dropdown">
							<a href="" class="dropdown-toggle" role="button" id="dropdownMenu0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								<strong>Bad Words Filter Mode: </strong>On<span class="caret" style="margin-left:7px"></span>
							</a>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a href="" ng-click="changeFilterFlag('on')">On</a></li>
								<li><a href="" ng-click="changeFilterFlag('off')">Off</a></li>
							</ul>
						</li>

						<li id="menu-1" class="dropdown">
							<a href="" class="dropdown-toggle" role="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								<strong>Color Scheme: </strong>Light<span class="caret" style="margin-left:7px"></span>
							</a>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a href="" ng-click="changeColor('main')">Light</a></li>
								<li><a href="" ng-click="changeColor('main_black')">Dark</a></li>
								<li><a href="" ng-click="changeColor('main_red')">Red</a></li>
							</ul>
						</li>

						<li id="menu-2" class="dropdown">
							<a href="" class="dropdown-toggle" role="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								<strong>Sorting: </strong>Default Order<span class="caret" style="margin-left:7px"></span>
							</a>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
								<li><a href="" ng-click="changeOrder('-order')">Default Order</a></li>
								<li><a href="" ng-click="changeOrder('-echo')">Highest Like</a></li>
								<li><a href="" ng-click="changeOrder('-necho')">Highest Dislike</a></li>
								<li><a href="" ng-click="changeOrder('-timestamp')">Newest Question</a></li>
								<li><a href="" ng-click="changeOrder('timestamp')">Oldest Question</a></li>
							</ul>
						</li>

						<li class="toTop"> <a href="" role="button" ng-click="toTop()"> Back to Top
							<span class="glyphicon glyphicon-chevron-up" style="margin-left:5px"></span> </a>
						</li>

						<li class="FB-btn"> <button ng-hide="$authData" class="btn btn-primary left" type="button" ng-click="FBLogin()">Want Admin? Sign in with Facebook</button> </li>
						<li class="FB-btn"> <img ng-show="$authData" src="https://graph.facebook.com/{{$authData.facebook.id}}/picture/?type=square&return_ssl_resources=1" alt="{{name}}" />
						 	{{$authData.facebook.displayName}}
						 	<button ng-show="$authData" class="btn btn-primary left" type="button" ng-click="FBLogout()">Logout</button>
						</li>

					</ul>
				</div>

			</div>
		</nav>

		<font size="10"> {{roomId|uppercase}} </font>&nbsp;

		<div class="well input-group">
			<textarea rows="3" type="text" id="new-todo" class="form-control"
				placeholder="Search or Post Question"
				ng-model="input.wholeMsg" autofocus>
			</textarea>
			<div class="group-btn">
				<button class="btn btn-info" type="button" ng-click="addTodo()">Ask</button>
				<button class="btn btn-info" type="button" ng-click="input.wholeMsg=''">Clear</button>
			</div>
		</div><!-- input-group -->

	</div> <!-- New top-part end -->

<div class="input-group">
	<span><h3>Suggested searches: </h3></span>
	<span ng-repeat="todo in todos"><button class="btn btn-default btn-xs" ng-repeat="tag in todo.tags | hashFilter" ng-click="hashToBox(tag)">{{tag}}</button></span>
</div>

<div class="list-group" id="todo-list">
	<span class="list-group-item" ng-repeat="todo in todos | orderBy:predicate | filter:input | questionFilter:maxQuestion" ng-show="(isAdmin && !inClassview) || !todo.hidden" ng-class="{big: inClassview, completed: todo.completed, editing: todo == editedTodo, hiddenpost: todo.hidden, pinnedpost: todo.pinned}">
		<h4 class="list-group-item-heading" ng-switch on="todo.headLastChar">
			<span class="label label-danger" ng-show="todo.newQuestion">New</span>
			<span class="badge">{{todo.order}}</span>
			<!-- switch -->
			<span ng-switch-when="?" class="glyphicon 	glyphicon-question-sign"></span>
			<span ng-switch-when="!" class="glyphicon glyphicon-ice-lolly"></span>
			<span ng-show="isWordFilterOn()"ng-class="{completed: todo.completed}">{{BadWordFilter(todo.head)}}</span>
			<span ng-show="!isWordFilterOn()"ng-class="{completed: todo.completed}">{{(todo.head)}}</span>
		</h4>
		<p class="list-group-item-text"><br><span ng-show="!isWordFilterOn()">{{todo.desc}}</span>
																				<span ng-show="isWordFilterOn()">{{BadWordFilter(todo.desc)}}</span><br><br> created: {{todo.dateString}}
			<span ng-show="todo.tags">tags: {{todo.tags}}</span></p>

			<!-- Like Button-->
			<br>
			<button ng-show ="buttonLiked(todo.$id)" type="button" style= "width: 80px;background-color:green;color:white; border:1px #000000 solid;"  ng-click="addEcho(todo)" >

					<font >Like</font>
					<span class= "glyphicon glyphicon-hand-up"></span>
			</button>


			<button ng-hide ="buttonLiked(todo.$id)" type="button" style= "width: 80px;background-color:white;color:green; border: 1px #00FF00 solid;"  ng-click="addEcho(todo)"  >
				<font >Like</font>
				<span class= "glyphicon glyphicon-hand-up"></span>
			</button>
			<!-- Like/Dislike Amount-->

			<span class ="label label-success">{{todo.echo}}</span>
			<font> : </font>
			<span class ="label label-danger">{{todo.necho}}</span>

			<!-- Dislike button-->

			<button ng-show ="buttonDisliked(todo.$id)" type="button" style= "width: 80px;background-color:red;color:white;border:1px #000000 solid;" ng-click="minusEcho(todo)"  >
						<span class= "glyphicon glyphicon-hand-down"></span>
				<font >Dislike</font>
			</button>


			<button ng-hide ="buttonDisliked(todo.$id)" type="button" style= "width: 80px;background-color:white;color:red;border:1px #FF0000 solid;" ng-click="minusEcho(todo)"  >
				<span class= "glyphicon glyphicon-hand-down"></span>
				<font >Dislike</font>
			</button>

			<!-- Reply and Cancel Reply buttons-->

			<button class="blackTextButton" ng-show="!replying.active[todo.$id]" ng-click="replying.active[todo.$id]=true">Reply</button>

            		<!-- New Design of login-btn group -->
			<span class="btn-group" role="group" style="margin-left:5px">
				<button type="button" ng-show="isAdmin" class="btn btn-default btn-xs" ng-click="pinTodo(todo)">
					<span class="glyphicon glyphicon-pushpin" style="margin-right:3px"></span>Pin to Top </button>
				<button type="button" ng-show="isAdmin" class="btn btn-default btn-xs" ng-click="toggleCompleted(todo)">
					<span class="glyphicon glyphicon-check" style="margin-right:3px"></span>Toggle Completed </button>
				&nbsp;
				<button type="button" ng-show="!todo.hidden && isAdmin" class="btn btn-default btn-xs" aria-hidden="true" ng-click="hideTodo(todo)">
					<span class="glyphicon glyphicon-eye-close" style="margin-right:3px"></span>Hide </button>
				<button type="button" ng-show="todo.hidden" class="btn btn-default btn-xs" aria-hidden="true" ng-click="hideTodo(todo)">
					<span class="glyphicon glyphicon-eye-open" style="margin-right:3px"></span>Unhide </button>
				<button type="button" ng-show="isAdmin" class="btn btn-default btn-xs" aria-hidden="true" ng-click="removeTodo(todo)">
					<span class="glyphicon glyphicon-trash" style="margin-right:3px"></span>Del </button>
			</span>


			<button class="blackTextButton" data-toggle="modal" ng-show="inClassview" href="#myModal" ng-click="selectQuestion(todo)">Classroom View</button>

			<!-- Reply input area-->

			<div class="well input-group" ng-hide="!replying.active[todo.$id]">
				<textarea rows="2" name="reply" id="todo.$id" type="text" class="form-control" ng-model="replyBox.replyText[todo.$id]"></textarea>
				<div class="group-btn">
					<button class="btn btn-info" type="button" ng-click="addReply(todo,replyBox.replyText[todo.$id])">Submit</button>
					<button class="btn btn-info" type="button" ng-click="cancelReply(todo)">Cancel</button>
				</div>
			</div>

			<!-- Submitted replies-->
			<div class="list-group">
			<span class="list-group-item" ng-repeat="reply in todo.replies" ng-show="(isAdmin && !inClassview) || !reply.hidden" ng-class="{hiddenpost: reply.hidden, highlightpost: reply.highlighted}">
				<h4 class="list-group-item-heading">
				<span ng-show="isWordFilterOn()">{{BadWordFilter(reply.head)}}</span>
				<span ng-show="!isWordFilterOn()">{{reply.head}}</span>

				</h4>
				<button type="button" ng-show="!reply.hidden && isAdmin" class="btn btn-default btn-xs" aria-hidden="true" ng-click="hideReply(todo,reply)">
					<span class="glyphicon glyphicon-eye-close" style="margin-right:3px"></span>Hide </button>
				<button type="button" ng-show="reply.hidden" class="btn btn-default btn-xs" aria-hidden="true" ng-click="hideReply(todo,reply)">
					<span class="glyphicon glyphicon-eye-open" style="margin-right:3px"></span>Unhide </button>
				<button type="button" ng-show="isAdmin" class="btn btn-default btn-xs" ng-click="highlightReply(todo,reply)">
					<span class="glyphicon glyphicon-star" style="margin-right:3px"></span>Highlight</button>
			</span>
			</div>

		</span>
	</div>

	<!-- CLASSROOM VIEW, ADAPTED FROM BOOTPLY USER Carol Skelly -->

<div class="modal" id="myModal">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h1 class="list-group-item-heading" ng-switch on="activeTodo.headLastChar">
			<span class="label label-danger" ng-show="activeTodo.newQuestion">New</span>
			<span class="badge">{{activeTodo.order}}</span>
			<!-- switch -->
			<span ng-switch-when="?">Question: </span>
			<span ng-switch-when="!" class="glyphicon glyphicon-ice-lolly"></span>
			<span ng-show="isWordFilterOn()"ng-class="{completed: activeTodo.completed}">{{BadWordFilter(activeTodo.head)}}</span>
			<span ng-show="!isWordFilterOn()"ng-class="{completed: activeTodo.completed}">{{(activeTodo.head)}}</span>
		</h1>
        </div><div class="container"></div>
        <div class="modal-body">

		<p class="list-group-item-text"><span class="desc" ng-show="!isWordFilterOn()">{{activeTodo.desc}}</span>
																		<span class="desc" ng-show="isWordFilterOn()">{{BadWordFilter(activeTodo.desc)}}</span><br><br> created: {{activeTodo.dateString}}
			<span ng-show="activeTodo.tags">tags: {{activeTodo.tags}}</span></p>

			<!-- Like Button-->
			<br>
			<div class="CVbuttons">
			<button ng-show ="buttonLiked(activeTodo.$id)" type="button" style= "width: 200px;background-color:green;color:white; border:2px #000000 solid;"  ng-click="addEcho(activeTodo)" >

					<font >Like</font>
					<span class= "glyphicon glyphicon-hand-up"></span>
			</button>


			<button ng-hide ="buttonLiked(activeTodo.$id)" type="button" style= "width: 200px;background-color:white;color:green; border: 2px #00FF00 solid;"  ng-click="addEcho(activeTodo)"  >
				<font >Like</font>
				<span class= "glyphicon glyphicon-hand-up"></span>
			</button>
			<!-- Like/Dislike Amount-->

			<span class ="label label-success">{{activeTodo.echo}}</span>
			<font> : </font>
			<span class ="label label-danger">{{activeTodo.necho}}</span>

			<!-- Dislike button-->

			<button ng-show ="buttonDisliked(activeTodo.$id)" type="button" style= "width: 200px;background-color:red;color:white;border:2px #000000 solid;" ng-click="minusEcho(activeTodo)"  >
						<span class= "glyphicon glyphicon-hand-down"></span>
				<font >Dislike</font>
			</button>


			<button ng-hide ="buttonDisliked(activeTodo.$id)" type="button" style= "width: 200px;background-color:white;color:red;border:2px #FF0000 solid;" ng-click="minusEcho(activeTodo)"  >
				<span class= "glyphicon glyphicon-hand-down"></span>
				<font >Dislike</font>
			</button>

			<!-- Reply and Cancel Reply buttons-->

			<button class="blackTextButton" ng-show="!replying.active[activeTodo.$id]" ng-click="replying.active[activeTodo.$id]=true">Reply</button>

		</div>
		<!-- Reply input area-->

			<div class="well input-group" ng-hide="!replying.active[activeTodo.$id]">
				<textarea rows="2" name="reply" id="activeTodo.$id" type="text" class="form-control" ng-model="replyBox.replyText[activeTodo.$id]"></textarea>
				<div class="group-btn">
					<button class="btn btn-info" type="button" ng-click="addReply(activeTodo,replyBox.replyText[activeTodo.$id])">Submit</button>
					<button class="btn btn-info" type="button" ng-click="cancelReply(activeTodo)">Cancel</button>
				</div>
			</div>


			<!-- Submitted replies-->
			<div class="list-group">
				<div class="CVreplies">
			<span class="list-group-item" ng-repeat="reply in activeTodo.replies" ng-show="(isAdmin && !inClassview) || !reply.hidden" ng-class="{hiddenpost: reply.hidden, highlightpost: reply.highlighted}">
				<h2 class="list-group-item-heading">
				<span ng-show="isWordFilterOn()">{{BadWordFilter(reply.head)}}</span>
				<span ng-show="!isWordFilterOn()">{{reply.head}}</span>

				</h2>
				<button type="button" ng-show="!reply.hidden && isAdmin" class="btn btn-default btn-xs" aria-hidden="true" ng-click="hideReply(activeTodo,reply)">
					<span class="glyphicon glyphicon-eye-close" style="margin-right:3px"></span>Hide </button>
				<button type="button" ng-show="reply.hidden" class="btn btn-default btn-xs" aria-hidden="true" ng-click="hideReply(activeTodo,reply)">
					<span class="glyphicon glyphicon-eye-open" style="margin-right:3px"></span>Unhide </button>
				<button type="button" ng-show="isAdmin" class="btn btn-default btn-xs" ng-click="highlightReply(activeTodo,reply)">
					<span class="glyphicon glyphicon-star" style="margin-right:3px"></span>Highlight</button>
			</span>
				</div>
			</div>
			</div>

        <div class="modal-footer">
          <button class="blackTextButton" href="#" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>




<!--
	<button ng-hide="totalCount<=maxQuestion"
	class="pull-right btn btn-default glyphicon glyphicon-arrow-down"
	type="button" ng-click="increaseMax()"> Show more</button>
-->



<!-- Autolink from https://github.com/gregjacobs/Autolinker.js> -->
<script src="js/lib/Autolinker.min.js"></script>

<!-- 2.2.2 -->
<script src="js/lib/firebase.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angularfire.js"></script>

<!-- Ng storage 0.3.6  -->
<script src="js/lib/ngStorage.min.js"></script>

<script src="js/app.js"></script>
<script src="js/filters/questionFilter.js"></script>
<script src="js/filters/hashFilter.js"></script>
<script src="js/controllers/todoCtrl.js"></script>
<script src="js/directives/todoFocus.js"></script>
<script src="js/directives/todoBlur.js"></script>
<script src="js/directives/todoEscape.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>
